.wrapperMain.holder
  article.stats
    h2.visually-hidden Статистика барбершопа
    .stats__text
      p.stats__slogan Стрижка у нас - это выгодно!
      p.stats__intro Мужская стрижка требует точного подхода. Обратимся к статистике:
      small.stats__legend.stats__legend--top * - приведенные данные - ложь

    .stats__list
      .stats__item.stats__money
        span.stats__numbers 1 500
        p.stats__value рублей вложений

      .stats__item.stats__time
        span.stats__numbers 7 200
        p.stats__value секунд времени мастера

      .stats__item.stats__hair
        span.stats__numbers 90 000
        p.stats__value постриженных волос

      .stats__item.stats__likes
        span.stats__numbers 500 000
        p.stats__value лайков и комплиментов