extends common/layout
block content
  main.main
    h1.visually-hidden Барбершоп Бородинский
    include includes/index/section-stats
    include includes/index/section-advantages
    include includes/index/section-news
    include includes/index/section-feedback